/* Estilos generales */
html {
  background-color: white;
  margin: 0%;
}

body {
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
}

h2 {
  font-family: "EB Garamond", serif;
  color: #1d1d1d;
}

h4 {
  font-family: "Overpass Mono", monospace;
  color: #1d1d1d;
}

h5 {
  font-family: "Overpass Mono", monospace;
  color: #1d1d1d;
}

.logoynombre {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.Header_logo {
  height: 8vw;
  align-content: center;
}

.header {
  margin-left: 10%;
  margin-right: 10%;
}

.Portada {
  background-image: url("img/bg_portada_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 80vh;
}
.Portada h4 {
  opacity: 50%;
}
.titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  z-index: 1;
}

.boton_portada {
  background-color: #4dade1;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.titulos h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8em;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 0;
}

.titulos h2 {
  font-family: "EB Garamond", serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 175%;
}

.destacado {
  position: relative;
}

.destacado::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 0.4em;
  background-color: #fb99c3;
  z-index: -1;
}

.Parrafos {
  background-color: #f3f4f5;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  padding-bottom: 5%;
  position: relative;
  z-index: 0;
}

.Parrafos::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #bb4033;
  z-index: -1;
}

.Parrafos::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #bb4033;
  z-index: -1;
}

.Parrafos .diamond {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 0.4em;
  height: 0.4em;
  background-color: #bb4033;
  z-index: -1;
}

.Parrafos img {
  width: 10vh;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.Parrafos h3 {
  font-family: "EB Garamond", serif;
  font-size: 2.2em;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  background-color: #f3f4f5;
  margin-top: 1em;
  padding-bottom: 0.5em;
}

.Parrafos p {
  font-family: "Montserrat", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f3f4f5;
  font-size: 1.1em;
  line-height: 125%;
}

.negrita {
  font-weight: bold;
}

.negritaC {
  font-weight: bold;
  color: #bb4033;
}

.divisor {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
}

.iconos {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-evenly;
}

.icono {
  height: 35%;
}

.img-der {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#parrafos_web {
  display: none;
}

footer {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 8vh 8vh;
  height: 16vh;
  background-color: #030712;
  color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

.links {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 0.8em;
  margin: 1em;
}
.links a {
  color: white;
}
.redes {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  image-resolution: auto;
}
.redes img {
  height: 2em;
}
footer h4 {
  margin-bottom: 0;
  text-align: center;
  font-size: 1em;
  font-family: "Overpass Mono", monospace;
  color: white;
  opacity: 75%;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: end;
}

footer h5 {
  margin-bottom: 0;
  text-align: center;
  font-size: 1em;
  font-family: "Overpass Mono", monospace;
  color: white;
  opacity: 75%;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}
@media (max-width: 1024px) {
  .Bullets {
    background-image: url("img/bg_bullets_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.bullet_titulo {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  font-size: 2em;
  font-weight: 800;
}

.bullet_titulo img {
  width: 20vw;
  max-width: 120px;
}
.bullet_imagen_1,
.bullet_imagen_2 {
  display: none;
}

.bulletizq::before,
.bulletder::after,
.bulletizq2::before {
  content: "";
  display: block;
  width: 0.2em;
  height: 5em;
  background-color: #f61a77;
  margin: 0;
}

.banderita_izq {
  display: inline-block;
  background-color: #f61a77;
  font-family: "Overpass Mono", monospace;
  color: white;
  padding: 0.2em 0.5em;
  margin-top: 0;
  margin-left: -0.2em;
  align-self: flex-end;
}

.banderita_der {
  display: inline-block;
  background-color: #f61a77;
  font-family: "Overpass Mono", monospace;
  color: white;
  padding: 0.2em 0.5em;
  margin-top: 0;
  margin-right: -0.2em;
  align-self: flex-end;
}

.bulletizq,
.bulletizq2 {
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
}

.bulletder {
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
}

.Bullets h1 {
  font-size: 1.4em;
  font-weight: 800;
}

.Bullets h4 {
  font-family: "Overpass Mono", monospace;
  font-size: 1em;
  font-weight: 500;
  margin-left: -1em;
  margin-bottom: 2em;
  margin-right: -1em;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65vh;
  margin-top: 10%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 10%;
  background-color: #b83d30;
  color: white;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
}
form {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opciones_box {
  margin-top: 2em;
  margin-bottom: 2em;
}
.titulo_formulario {
  display: flex;
  justify-content: flex-end;
  height: auto;
}
.titulo_formulario_web {
  display: none;
}

.formulario h1 {
  color: white;
  font-size: 200%;
  margin: 0;
  text-align: right;
  width: 100%;
}
.formulario input {
  width: 98.5%;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.supporting-text {
  font-size: 0.7em;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.formulario label {
  display: none;
  font-size: 1.1em;
}

.formulario select {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.3em;
  letter-spacing: 0.5px;
}

.formulario option {
  background-color: #f2fbff;
  color: #1d1d1d;
  font-size: 0.8em;
}
#boton_form {
  height: 12%;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 5%;
  color: white;
  background-color: #1d1d1d;
  border: none;
}

input::placeholder {
  color: white;
}

.Testers {
  background-image: url("img/bg_testers_mobile.png");
  background-repeat: no-repeat;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20%;
  height: 90vh;
  align-items: flex-start;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.texto h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 800;
  margin: 0;
}

.texto h4 {
  font-size: 2em;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  text-align: start;
  margin: 0;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.carousel-inner {
  display: inline-flex;
}

.carousel-item {
  height: 50vh;
  width: 65vw;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #c54930;
  border-top-left-radius: 2.2em;
  border-top-right-radius: 2.2em;
  border-bottom-right-radius: 2.2em;
  overflow: hidden;
  padding: 1em;
}
.titulo_imagen {
  font-family: "Montserrat", sans-serif;
  display: flex;
  height: 20%;
  width: 100%;
  font-size: 1.1em;
  color: white;
  white-space: normal;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.titulo_imagen img {
  width: 30%;
  height: auto;
}

.testimonio {
  font-weight: 700;
  white-space: normal;
  overflow: visible;
  color: #1d1d1d;
  font-family: "EB Garamond", serif;
  font-size: 1.3em;
  line-height: 150%;
}

.usuario {
  font-family: "Overpass Mono", monospace;
  font-weight: 700;
  font-size: 1em;
  color: white;
}
.boton_feedback {
  background-color: #1d1d1d;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  width: 90%;
  height: 8%;
}

.oculto {
  display: none !important;
}

.divisor2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.7em;
}

.divisor2 h5 {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  transform: rotate(-90deg);
  padding-left: 9%;
}
#agradecimiento {
  background-image: url("img/bg_agradecimiento_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 66vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#agradecimiento h1 {
  display: inline;
  font-size: 2.4em;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
  font-weight: 800;
}
#agradecimiento h2 {
  font-size: 1.2em;
}
.contenido {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 8vh;
  height: 16vh;
  background-color: #030712;
  color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

.links {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
  margin: 1em;
}
.links a {
  color: white;
}
.redes {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  image-resolution: auto;
}
.redes img {
  height: 2em;
}
footer h4 {
  display: none;
}

footer h5 {
  display: none;
}

@media (min-width: 1024px) {
  /* Estilos generales */
  html {
    background-color: white;
    margin: 0%;
  }

  body {
    margin: 0;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    color: #1d1d1d;
  }

  h2 {
    font-family: "EB Garamond", serif;
    color: #1d1d1d;
  }

  h4 {
    font-family: "Overpass Mono", monospace;
    color: #1d1d1d;
  }

  h5 {
    font-family: "Overpass Mono", monospace;
    color: #1d1d1d;
  }

  .logoynombre {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    height: 10%;
  }
  .logoynombre h4 {
    margin: 0;
  }

  .Header_logo {
    height: 5vw;
    align-content: center;
  }

  .header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .Portada {
    background-image: url("img/bg_portada_web.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top right;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
  }
  .Portada h4 {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    opacity: 0.8;
    color: #4b5563;
  }
  .titulos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    z-index: 1;
  }

  .boton_portada {
    background-color: #4dade1;
    border: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10%;
  }

  .titulos h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 800;
    line-height: 125%;
    margin-bottom: 0;
  }

  .titulos h2 {
    font-family: "EB Garamond", serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 175%;
  }

  .destacado {
    position: relative;
  }
  #parrafos_web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    gap: 3em;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    height: 90vh;
    z-index: 0;
    background-color: #f3f4f5;
  }
  #parrafos {
    display: none;
  }

  .Parrafos_web::before {
    content: "";
    position: absolute;
    top: -5%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2em;
    background-color: #bb4033;
    z-index: 0;
  }

  .Parrafos_web::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid #bb4033;
    z-index: 1;
  }

  .Parrafos_web .diamond {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0.6em;
    height: 0.6em;
    background-color: #bb4033;
    z-index: 1;
  }

  .titulo_parrafos {
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-weight: 400;
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    background-color: #f3f4f5;
    font-size: 2em;
    z-index: 1;
    margin: 0;
  }
  .titulo_parrafos h3 {
    margin: 0;
    text-align: center;
  }

  .text1 {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.5em;
  }
  .adorno_1 {
    grid-column: 2;
    grid-row: 2;
    font-family: "Overpass Mono", monospace;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
  }
  .adorno_1 p {
    letter-spacing: 1em;
    font-size: 1em;
    color: #06c4f1;
  }
  .image1 {
    grid-column: 1;
    grid-row: 3 / span 2; /* Ocupa las cuatro filas */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .text2 {
    grid-column: 2;
    grid-row: 3;
    font-size: 1.5em;
  }

  .text3 {
    grid-column: 1;
    grid-row: 5;
    font-size: 1.5em;
  }

  .image2 {
    grid-column: 2;
    grid-row: 4 / span 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 80%;
  }

  .adorno_2 {
    grid-row: 6;
    grid-column: 1;
    font-family: "Overpass Mono", monospace;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
  }
  .adorno_2 p {
    letter-spacing: 1em;
    font-size: 1em;
    color: #06c4f1;
  }

  .negritaC {
    font-weight: bold;
    color: #bb4033;
  }

  .divisor {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.7em;
    align-items: flex-end;
    height: 5vh;
  }
  .divisor h5 {
    margin: 0;
    font-size: 1.2em;
  }

  .iconos {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
    height: 100%;
    align-items: flex-end;
  }

  .icono {
    width: 50%;
    height: 50%;
  }

  .img-der {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .Bullets {
    display: grid;
    grid-template-columns: 30% 20% 20% 20%;
    grid-template-rows: 10% 30% 30% 30%;
    gap: 1em;
    height: 75vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  .bullet_imagen_1 {
    display: flex;
    grid-row: 1 / span 2;
    grid-column: 4;
    z-index: 0;
  }
  .bullet_imagen_1 img {
    width: 80%;
    height: 80%;
  }
  .bullet_imagen_2 {
    display: flex;
    grid-row: 3 / span 2;
    grid-column: 1;
    z-index: 0;
  }
  .bullet_imagen_2 img {
    height: 80%;
    width: 80%;
  }

  .bullet_titulo {
    grid-row: 3;
    grid-column: 1;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  .bullet_titulo h1 {
    margin: 0;
  }

  .bullet_titulo img {
    grid-row: 3 / span 2;
    grid-column: 1;
  }

  .bulletizq::before,
  .bulletder::after,
  .bulletizq2::before {
    content: "";
    display: block;
    width: 0.2em;
    height: 5em;
    background-color: #f61a77;
    margin: 0;
  }

  .banderita_izq {
    display: inline-block;
    background-color: #f61a77;
    font-family: "Overpass Mono", monospace;
    color: white;
    padding: 0.2em 0.5em;
    margin-top: 0;
    margin-left: -0.2em;
    align-self: flex-end;
  }

  .banderita_der {
    display: inline-block;
    background-color: #f61a77;
    font-family: "Overpass Mono", monospace;
    color: white;
    padding: 0.2em 0.5em;
    margin-top: 0;
    margin-right: -0.2em;
    align-self: flex-end;
  }

  .bulletizq {
    grid-row: 2;
    grid-column: 2 / span 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  .bulletizq2 {
    grid-row: 4;
    grid-column: 2 / span 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  .bulletder {
    grid-row: 3;
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1em;
  }

  .Bullets h1 {
    font-size: 2em;
    font-weight: 800;
  }

  .Bullets h4 {
    font-family: "Overpass Mono", monospace;
    font-size: 1em;
    font-weight: 500;
    margin-left: -1em;
    margin-bottom: 2em;
    margin-right: -1em;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin-top: 10%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10%;
    color: white;
    align-items: center;
    background-image: url("img/bg_formulario_web.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  form {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    align-items: center;
  }

  .opciones_box {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
  }
  .titulo_formulario {
    display: none;
  }
  .titulo_formulario_web {
    display: flex;
    justify-content: center;

    align-items: center;
    height: auto;
  }

  .titulo_formulario_web h1 {
    color: white;
    font-size: 2.5em;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .formulario input {
    width: 98.5%;
    font-family: "Montserrat", sans-serif;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.4em;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  .supporting-text {
    font-size: 0.7em;
    margin-top: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  .formulario label {
    display: none;
    font-size: 1.1em;
  }

  .formulario select {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.3em;
    letter-spacing: 0.5px;
  }

  .formulario option {
    background-color: #f2fbff;
    color: #1d1d1d;
    font-size: 0.8em;
  }
  #boton_form {
    height: 12%;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    margin-top: 2em;
    font-weight: 800;
    letter-spacing: 5%;
    color: white;
    background-color: #1d1d1d;
    border: none;
  }

  input::placeholder {
    color: white;
  }

  .Testers {
    background-image: url("img/bg_testers_web.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-right: 0;
    padding-top: 10%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh 50vh 20vh;
    gap: 3em;
    justify-items: center;
  }

  .texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5%;
    grid-row: 1;
    grid-column: 1;
  }

  .texto h1 {
    font-size: 3em;
    font-weight: 800;
    margin: 0;
  }

  .texto h4 {
    font-size: 2em;
    font-family: "EB Garamond", serif;
    font-weight: 500;
    text-align: start;
    margin: 0;
  }

  .carousel {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    grid-row: 2;
    grid-column: 1 / span 2;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .carousel-inner {
    display: inline-flex;
  }

  .carousel-item {
    height: 40vh;
    width: 35vw;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-end;
    background-color: #c54930;
    border-top-left-radius: 2.2em;
    border-top-right-radius: 2.2em;
    border-bottom-right-radius: 2.2em;
    overflow: hidden;
    padding: 1em;
  }
  .titulo_imagen {
    display: flex;
    height: 20%;
    width: 100%;
    font-size: 1.2em;
    color: white;
    white-space: normal;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
  .titulo_imagen img {
    width: 30%;
    height: auto;
  }

  .testimonio {
    font-weight: 700;
    white-space: normal;
    overflow: visible;
    color: #1d1d1d;
    font-family: "EB Garamond", serif;
    font-size: 1.3em;
    line-height: 150%;
  }

  .usuario {
    font-family: "Overpass Mono", monospace;
    font-weight: 700;
    font-size: 1em;
    color: white;
  }

  .boton_feedback {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #1d1d1d;
    border: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin-top: 0%;
  }

  .oculto {
    display: none !important;
  }

  .divisor2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7em;
  }

  .divisor2 h5 {
    display: flex;
    margin: 0;
    justify-content: flex-start;
    transform: rotate(-90deg);
    padding-left: 9%;
  }

  #agradecimiento {
    background-image: url("img/bg_agradecimiento_web.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 33% 33% 33%;

    height: 55vh;
  }
  .titulo_agradecimiento {
    grid-row: 1 / span 2;
    grid-column: 2;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    color: #1d1d1d;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #agradecimiento h2 {
    font-size: 2em;
    grid-row: 3;
    grid-column: 2;
  }
  .divisor3 {
    grid-row: 3;
    grid-column: 1;
  }

  footer {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 8vh 8vh;
    height: 16vh;
    background-color: #030712;
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
  }

  .links {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 0.8em;
    margin: 1em;
  }
  .links a {
    color: white;
  }
  .redes {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .iconos_f {
    display: flex;
    align-items: center;
    justify-content: center;
    image-resolution: auto;
  }
  .redes img {
    height: 2em;
  }
  footer h4 {
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
    font-family: "Overpass Mono", monospace;
    color: white;
    opacity: 75%;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  footer h5 {
    display: flex;
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
    font-family: "Overpass Mono", monospace;
    color: white;
    opacity: 75%;
    grid-column: 1;
    grid-row: 1;

    justify-content: center;
    align-items: end;
  }
}
