html {
    background-color: white;
    margin: 0%;
}
body {
    margin: 0;
}
h1 {
 font-family: "Montserrat", sans-serif;
 color: #1d1d1d;
}
h2{
    font-family: "EB Garamond", serif;
    color: #1d1d1d;
}
h4 {
    font-family: "Overpass Mono", monospace;
    color: #1d1d1d;
}
h5{
    font-family: "Overpass Mono", monospace;
    color: #1d1d1d;
}
p {
    font-family: "EB Garamond", serif;
    }
    .logoynombre {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Header_logo{
        height: 8vw;
        align-content: center;
        }
    .header{
        margin-left: 10%;
        margin-right: 10%;
    }
    .Portada {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 10%;
        margin-right: 10%;
        height: 65vh;
    }
    .titulos {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulos h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 3em;
        font-weight: 800;
        width: 80vw;
        }
    .titulos h2 {
        font-family: "EB Garamond", serif; 
        font-size: 1.3em;
        font-weight: 400;
        }
        .titulos {
            position: relative;
        }
        
        .destacado {
            position: relative;
        }
        
        .destacado::after {
            content: "";
            position: absolute;
            bottom: 4px; 
            left: 0;
            width: 100%;
            height: 0.4em; 
            background-color: #FA73AC; 
            z-index: -1;
        }
    button{
        background-color: #4DADE1;
        border: none;
        color: #ffffff;
        font-family: "Overpass Mono", monospace;
        font-size: 1.1em;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 6vh;
        }
    .Parrafos {
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1em;
        padding-top: 5%;
        padding-bottom: 5%;
        background-image: url('img/arrow.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .negrita {
        font-weight: bold;
    }
    .negritaM{
        font-weight: bold;
        color:#F61A77;
    }
    .negritaR{
        font-weight: bold;
        color:#FE5325;
    }
    .negritaC{
        font-weight: bold;
        color:#06C4F1;
    }
    .Parrafos img{
        width: 10vh;
        height: 100%;
    }
    .divisor {
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.7em;
    }
    .img-der{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .Parrafos p{
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: white;
        font-size: 1em;
    }
    .Parrafos h3{
        padding: 1em;
        font-family:"EB Garamond", serif;
        font-size: 1.6em;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        background-color: white;
    }
    .Bullets {
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .bullet_titulo{
        margin-bottom: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
        font-size: 1.4em;
    }
    .bullet_titulo img{

        width: 20vw;
        max-width: 120px;
    }
    .bulletizq::before,
    .bulletder::after {
    content: "";
    display: block;
    width: 0.2em;
    height: 5em;
    background-color: #F61A77; /* Puedes cambiar el color según tus necesidades */
    margin: 0;
}
.banderita_izq {
    display: inline-block;
    background-color:#F61A77;
    font-family: "Overpass Mono", monospace;
    color: white;
    padding: 0.2em 0.5em;
    margin-top: 0;
    margin-left: -0.2em;
    align-self: flex-end;
}
.banderita_der {
    display: inline-block;
    background-color:#F61A77;
    font-family: "Overpass Mono", monospace;
    color: white;
    padding: 0.2em 0.5em;
    margin-top: 0;
    margin-right: -0.2em;
    align-self: flex-end;
}
    .bulletizq{
        margin-top: 4vh;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1em;
    }

    .bulletder{
        margin-top: 4vh;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;  
        align-items: center;
        font-size: 1em;
    }
    .Bullets h1{
        font-size: 1.6em;
        font-weight: bold;
    }
    .Bullets h4{
        font-family:"Overpass Mono", monospace;
        font-size: 1em;
        font-weight: 500;
        margin-left: -1em;
        margin-bottom: 2em;
        margin-right: -1em;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
        margin-left: 10%;
        margin-right: 0%;
        padding: 10%;
        background-color: #1d1d1d;
        color: white;
        border-top-left-radius: 2em;
        border-bottom-left-radius:2em;
    }
    .opciones_box{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .formulario h1{
        color: #FF4F44;
        font-size: 2 em;
        margin: 0;

    }
    .supporting-text {
        font-size: 0.9em;
        margin: 0;
    }
    .formulario label{
        display: none;
        font-size: 1.1em;
    }
    .formulario input{
        width: 98.5%;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        color: white;
        font-size: 1em;
    }
    .formulario select{
        width: 100%;
        background-color: transparent;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        font-size: 1em;
    }
    .formulario option{
        background-color: #F2FBFF;
        color: #1d1d1d;
        font-size: 0.8em;
    }
    input::placeholder {
        color: white;
    }

    .Testers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20%;
        
    }
    .textoimg{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
    }
    .texto{
        display: flex;
        flex-direction: column;
    }
    .texto h1{
        font-size: 1.5;
        font-weight: 800;
        margin: 0;
    }
    .texto h4{
        font-size: 1em;
        font-family:"EB Garamond", serif;
        font-weight: 500;
    }
    .carousel{
        width: 100%;
        overflow-x: auto; 
        white-space: nowrap;
    }

    .carousel-inner{
        display: inline-flex; 


        }
    .carousel-item{
        height: 10%;
        width: 200px;
        margin:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #C54930;
        border-radius: 10%;
        color: white    ;
        overflow: hidden;
    }
    .testimonio{
        font-weight: 400;
        margin: 10px; 
        white-space: normal; /* Permite que el texto se envuelva a la siguiente línea según sea necesario */
        overflow: visible;
    }
    .usuario{
        margin-left: 10px;
        font-family:"Overpass Mono", monospace;
        font-weight: 700;
        font-size: 0.6em;
    }
.oculto {
    display: none !important;
}
.Feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('img/background_feedback.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 35%;
}
.Feedback h1{
    margin: 0;
line-height: 125%;    
font-size: 2em;
font-weight: 800;
}
.Feedback h2{
    line-height: 125%;    
    font-size:1.2em;
    font-weight:500;
}
.divisor2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7em;
}
.divisor2 h5{
display: flex;
margin: 0;
justify-content: flex-start;
transform: rotate(-90deg);
padding-left: 9%;
}
footer {
    background-color: #030712;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;

    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}
footer p{
    margin-bottom: 0;
    text-align: center;
    font-size: 0.7em;
    font-family: "Overpass Mono", monospace;
    
}

footer h6{
    text-align: center;
}

footer h6{
    text-align: center;
}
